body,html {
  overflow-x: hidden;
  height:100%;
  width: 100%;
  background-color: #d6e2e0 !important;
}
.navbar-brand {
  font-family: 'Aldrich';
  color: #5a5150 !important;
  letter-spacing: -1px;
}

#navbar_color {
  background-color: #99c4a2 !important;
}

#navbar_color a {
  font-family: 'Mina';
}
#navbar_color #active_nav a {
  color: white;
}

#search_form {
  position: right;
}

 #regionsBtn, #conditionsBtn, #trackingBtn{
    color: #40afa8;
}

.form-group #exampleInputEmail1 {
  border-color: #40afa8 ;
}

/* Login */
#login_left img {
  width:100%;
  height:auto;
}
.form-control {
    width: 50%;
}

#pw_div {
  margin-top: 50px;
}
#submit_btn {
  margin-top: 50px;
}
/* end of login page*/

/* home page */

#top_row {
  margin-top: 5%;
}

#top_row, #bottom_row {
  padding-bottom: 10%;
}

#top_row img {
  margin-bottom: 2%;
}
#top_row img, #bottom_row img {
  display: block;
  max-width: 60%;
  height: auto;
  margin: 2%;
}

figcaption {
  font-family: 'Roboto';
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}


/* end of homepage*/

/* regions page */
#top_jumbo, #track-title {
  text-align: center;
}

.jumbotron {
  background-color: #567b82 !important;
  margin-top: 2%;
}

.jumbotron h1, .jumbotron p {
  color: white;
  font-family: 'Mina';
}

#detail_div {
    width: auto;
    height: 50%;
    padding: 50px;
}

#detail_div h3, #detail_div p {
  font-family: 'Roboto';
} /* end of regions page*/ 

/*start of home.html styling */

#region_btns {
  margin-top: 2%;
}

#top_btns{
  margin-top: 1%;
  align-content: center;
}

#content_row{
  margin-top:2%;
}
/***** end of home.html *****/

/* conditions */
.card-img-top {
    width: auto;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}

/* start of account.html */
#register, #register1 {
  font-family: 'Roboto';
}
#account_container label{
  font-family: 'Roboto';
  font-size: 18px;
  margin-right: 2%;
  margin-bottom: 2%;
}

#account_container .row {
  padding-top: 2%;
}

#account_container input{
  border-top:0;
  border-left: 0;
  border-right: 0;
  background-color: transparent;
  border-bottom-color: white;
  border-bottom-width: 2px;
  margin-bottom: 2%;
  width: 30%;
}

#account_container ::placeholder, #info1 p, #info2 p {
  font-family: 'Mina';
} 
/****end of signup page *****/ 
#info2 p {
  margin-top: 3%; 
}

/* giving margin on the bottom for the bar chart */
#chart_row {
  margin-bottom: 4%;
}

#content_row2 {
  margin-top:5%;
}

#bar_chart {
  margin-top:2%;
  margin-right: 5px;
}


#progress h5{
  text-align:center;
  font-family:  'Mina';
}








