body,html {
	overflow-x: hidden;
  height:100%;
  width: 100%;
  background-color: #d6e2e0 !important;
}

#navbar_color {
  background-color: #99c4a2 !important;
}

#navbar_color a {
  font-family: 'Mina';
}
#navbar_color .navbar-brand, #navbar_color .nav-link {
  color: white;
}

#search_form {
  position: right;
}

 #regionsBtn, #conditionsBtn, #trackingBtn{
    color: #40afa8;
}

.form-group #exampleInputEmail1 {
  border-color: #40afa8 ;
}

/* Login */
#login_left img {
  width:100%;
  height:auto;
}
.form-control {
    width: 50%;
}

#pw_div {
  margin-top: 50px;
}
#submit_btn {
  margin-top: 50px;
}

/* home page */

#top_row {
  margin-top: 5%;
}

#top_row, #bottom_row {
  padding-bottom: 5%;
}

#top_row img {
  margin-bottom: 2%;
}
#top_row img, #bottom_row img {
  max-width: 80%;
  height: auto;
  margin: 2%;
}

figcaption {
  font-family: 'Roboto';
}

/* end of homepage*/

/* regions page */
.breadcrumb {
  background-color: #99c4a2;
  margin-top: 5px;
}
.breadcrumb >.active a{
   font-family:'Mina';

}

#top_jumbo, #track-title {
  text-align: center;
}

.jumbotron {
  background-color: #567b82 !important;
  margin-top: 2%;
}

.jumbotron h1, .jumbotron p {
  color: white;
  font-family: 'Mina';
}

#detail_div {
    width: auto;
    height: 50%;
    padding: 50px;
}

#detail_div h3, #detail_div p {
  font-family: 'Roboto';
}

#region_btns {
  margin-top: 2%;
}

/* back button*/
#backBtn {
  background-color: none;
}

table tr {
  border-width: 1px;
  border-color: black;
}

/* conditions */
.card-img-top {
    width: auto;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}
